@{
    ViewData["Title"] = "Home Page";
}

 <body style="
    background-image: url('https://wallpaperaccess.com/full/1128313.jpg');
    height: 100%;
    margin:0;">
    
  <div style="text-align:center">
    <br>
    

    </br>
    <h1 class="display-1"style="color:white"><b>Welcome</b></h1>
    <h1 class="display-1"style="color:white"><b>To</b></h1>
    <h1 class="display-1"style="color:white"><b>GolfGurus</b></h1>
    <div class="bg-image"
     
  ></div>


    
</div>
</body> 